*{
  margin:0;
  padding:0;
  background:#262626;
}

.cup{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:150px;
  height:180px;
  border:6px solid transparent;
  border-top:6px solid #262626;
  border-radius: 35px;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  background:url(water.jpg);
  background-repeat:repeat-x;
  animation: animate 10s linear infinite;
  box-shadow: 0 0 0 6px #262626 0 20px 35px rgba(0,0,0,0.5);


}

.cup:before{
  content:'';
  position:absolute;
  top:40px;
  left:150px;
  width:60px;
  height:80px;
  border:6px solid white;
  border-top-right-radius:35px;
  border-bottom-right-radius:35px;
}